main{
    display: flex;
    flex-wrap: wrap;
}

main div{
    width: 500px;
    height: 300px;
}

main div:nth-child(1){
    background-color: rgb(10, 241, 241);
}

main div:nth-child(2){
    background-color: rgb(152, 152, 233);
}

main div:nth-child(3){
    background-color: rgb(197, 157, 235);
}

main div:nth-child(4){
    background-color: rgb(230, 116, 116);
}

main div:nth-child(5){
    background-color: rgb(13, 233, 13);
}

main div:nth-child(6){
    background-color: rgb(176, 235, 14);
}