*{
    margin: 0;
}
.padre{
    display: flex;
}

.hijo1{
    width: 500px;
    height: 500px;
    background-color: aqua;
}

.hijo2{
    width: 500px;
    height: 500px;
    background-color: chocolate;
}